<header class="border-solid border-b-2">
  <nav class="px-4 py-2">
    <ul class="flex gap-4">
      <li class="header__item">
        <a class="header__link" href="/">Anton o herbacie</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="/about">O mnie</a>
      </li>
    </ul>
  </nav>
</header>
